<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>

  <header class="page-header">
    <h2><%= @product.name %>: Create Review</h2>
  </header>

  <% if current_user %>
    <%= form_for :review, url: "/products/#{@product.id}/reviews" do |f|%>

      <div class="row">
      <div class="col-sm-6 col-sm-offset-1">

        <div class="form-group">
        <%= hidden_field :product_id, @product.id %>
        <%= hidden_field :user_id, session[:user_id].to_i %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :rating %>
          <%= f.select :rating, (0..5)%>
        </div>

        <%= f.submit "Submit", class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  <% else %>
    <h3>You must be logged in to review stuff!</h3>
  <% end %>

  <header class="page-header">
    <h2><%= @product.name %>: Reviews</h2>
  </header>

  <div class="col-sm-offset-1">
    <% reviews = Review.where(product_id: @product.id).reverse %>

      <%if reviews.length == 0%>
        There are no reviews for this product.  Be the first to review!
        <br><br>
      <%else%>

        <% reviews.each do |r| %>
          <% reviewer = User.find_by(id: r.user_id) %>
          <b><%= reviewer.first_name %>'s ( <%= r.rating%> / 5 ) Review:</b><br>
          <%= r.description %>

          <% if current_user.id == r.user_id %>
            <br>
            <%= link_to 'DELETE REVIEW', "/products/#{@product.id}/reviews/#{r.id}", class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>

          <br><br>
      <% end %>

    <% end %>
  </div>

</section>
